@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 1em;
}
#news{
	margin: 0 auto;
	text-align: center;
}
.NewSearch{
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
.NewSearch from {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
thead{
	background-color: #e1e1e1;
	padding: 20px;
}
thead tr th{
	padding: 10px 0;
	color: #5a5b5f;
	font-weight: 400;
	border: 1px solid #fff;
}

table td.num {
    width: 2em;
}
table td.divide {
    width: 2em;
}
table td.title {
    width: 12em;
}
table td.date {
    width: 5em;
}
tbody tr td{
	border-bottom: 1px solid #e1e1e1;
	font-size: 15px;
	padding: 12px 5px;
}
tbody tr .title{
	position: relative;
	padding-left: 10px;
	text-align: start;
}
tbody tr .title a{
	position: absolute;
	top: 20px;
	left: 10px;
	overflow: hidden;
	width: 50%;
	white-space: nowrap;
	text-overflow: ellipsis;;
}


